<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.hi.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.maoyan.hi.Entity.User" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select *  from user  order by id asc
    </select>
    <!-- 根据id查询用户信息 -->
      <select id="getDetail" parameterType="int" resultType="com.maoyan.hi.Entity.User">
        select * from user where id = #{id}
     </select>

    <insert id="addUser" parameterType="com.maoyan.hi.Entity.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into  user (name,gender)
        values (#{name},#{gender})
    </insert>

    <insert id="updateUser" parameterType="com.maoyan.hi.Entity.User">
        update user set name=#{name}, gender=#{gender}
        where id=#{id}
    </insert>

    <delete id="delete" parameterType="integer">
        DELETE from user where id=#{id}
    </delete>

</mapper>
